@import "./../variables.scss";

.lander {
	height: 25rem;
	background-color: $white;
	// background-image: url("./../../img/products-banner.jpg");

	&__discription {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $blue;
		border-radius: 0.5rem;
		width: 60%;
		padding: 5rem;
	}
}

.subLander {
	display: grid;
	align-content: center;
	justify-content: center;
	padding-top: 1rem;
	// overflow: hidden;
	background-color: $red;

	&__title {
		align-self: center;
		justify-self: center;
		margin: 0.3rem;
		height: 50px;
		color: $white;
		background-color: $red;
	}
}
