@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
.loadmore {
  font-size: 1rem;
  font-weight: 600;
  background: #E86C71;
  outline: none;
  border: none;
  color: #ECF0F3;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.loadmore:hover {
  color: #E86C71;
  background-color: #ECF0F3;
}

.buttton {
  font-size: 1rem;
  font-weight: 600;
  background: #E86C71;
  outline: none;
  border: none;
  color: #ECF0F3;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
  -webkit-box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.2);
          box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.2);
}

.buttton:hover {
  color: #E86C71;
  background-color: #ECF0F3;
}

/* this make sure that every element inherits the parent box-sizing type*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #153A51;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ECF0F3;
  border: 3px solid #105A80;
  border-radius: 1rem;
}

/* Handle on hover */
/* setting the root font size to be 62.5% of default browser font size.
   This enables the web page to adapt according to default browser font size(even if user changes the default browser font size)
   and enables author to use "rem" in the complete document for calculations.
   10px beacuse it is easy to calculate the fraction. */
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  /* by default all the block display are border-box*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Smoothen font which is better normal display of the font*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif !important;
  color: #ECF0F3;
  background-color: #ECF0F3;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ECF0F3;
  font-weight: 600;
}

a:hover {
  color: #E86C71;
}

.fontXSmall {
  font-size: 0.8rem;
  font-weight: 300;
}

.fontSmall {
  font-size: 1.2rem;
  font-weight: 300;
}

.fontMedium {
  font-size: 1.5rem;
  font-weight: 300;
}

.fontLarge {
  font-size: 2rem;
  font-weight: 300;
}

.fontXLarge {
  font-size: 3rem;
  font-weight: 400;
}

.fontXXLarge {
  font-size: 4.5rem;
  font-weight: 400;
}

.fontMontserrat {
  font-family: "montserrat", sans-serif;
}

.fontMontserratXBold {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
}

.fontSmallMont {
  font-size: 1.1rem;
  font-weight: 400;
}

.fontXSmallMont {
  font-size: 1rem;
  font-weight: 600;
}

.fontSemiHuge {
  font-size: 18rem;
  font-weight: 700;
}

.fontHuge {
  font-size: 20rem;
  font-weight: 700;
}

.fontOswald400 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.textTransformUpper {
  text-transform: uppercase;
}

.textTransformCapitalize {
  text-transform: capitalize;
}

.textAlignVertical {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.textOrientationverticalRight {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.textAlignCenter {
  text-align: center;
}

.textVerticalAlignCenter {
  vertical-align: middle;
}

.textAlignRight {
  text-align: right;
}

.gridContentCenter {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gridContentRightCenter {
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gridContentLeftCenter {
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gridContentRight {
  -ms-grid-column-align: left;
      justify-self: left;
}

.colorBlue {
  color: #105A80;
}

.colorWhite {
  color: #ECF0F3;
}

.colorMatter {
  color: #ECF0F3;
}

.colorSpace {
  color: #153A51;
}

.colorRed {
  color: #E86C71;
}

.bgColorBlue {
  background-color: #105A80;
}

.bgColorWhite {
  background-color: #ECF0F3;
}

.bgColorMatter {
  background-color: #ECF0F3;
}

.bgColorSpace {
  background-color: #153A51;
}

.bgColorRed {
  background-color: #E86C71;
}

.letterSpacingMedium {
  letter-spacing: 0.5rem;
}

.lineHeightNone {
  line-height: 0;
}

.lineHeight75 {
  line-height: 0.75;
}

.lineHeight1 {
  line-height: 1;
}

.lineHeight125 {
  line-height: 1.25;
}

.lineHeight150 {
  line-height: 1.5;
}

.lineHeight175 {
  line-height: 1.75;
}

.letterSpacingNone {
  letter-spacing: 0;
}

.letterSpacing1 {
  letter-spacing: 0.1rem;
}

.letterSpacing3 {
  letter-spacing: 0.3rem;
}

.letterSpacing5 {
  letter-spacing: 0.5rem;
}

.letterSpacing10 {
  letter-spacing: 1rem;
}

.displayInlineBlock {
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.padding-y-2 {
  padding: 2rem 0;
}

.padding-3 {
  padding: 3rem;
}

.padding-4 {
  padding: 4rem;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-bottom-huge {
  padding-bottom: 8rem;
}

.padding-inline-2 {
  -webkit-padding-end: 2rem;
          padding-inline-end: 2rem;
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
}

.padding-inline-1 {
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
}

.border-0 {
  border: none;
}

.divider {
  border: 1px solid #b9008b;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.displayBlock {
  display: block;
}

.opaque {
  opacity: 1;
}

.clear {
  opacity: 0;
}

.overflow-hidden-x {
  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.transparent {
  opacity: 0;
}

.disabled {
  cursor: not-allowed;
}

.disable__overlay {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.search {
  border: none;
  -webkit-box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.1);
          box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.1);
  width: 73%;
  border-radius: 2rem;
  background: #fff;
  color: #E86C71;
  font-size: 1rem;
  outline: none;
  font-weight: 500;
  margin: 1rem;
  padding: 1rem;
}

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  padding: 10rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  min-height: 50%;
  background-color: #105A80;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  -webkit-animation: popup 0.5s 0.2s ease forwards;
          animation: popup 0.5s 0.2s ease forwards;
  padding-left: 4rem;
  padding-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.9fr 0.1fr;
      grid-template-columns: 0.9fr 0.1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header close" "details ." "button2 .";
}

.modal__content--header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.modal__content--login {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 10px;
      grid-template-areas: "f1 f2" "f3 f4" "f5 f5";
}

.modal__content--login__button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: f5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.modal__content--login__lable1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: f1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.modal__content--login__lable2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: f3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.modal__content--login__input1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: f2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.modal__content--login__input2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: f4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.modal__content--login input {
  outline: none;
  background-color: #ECF0F3;
  border: none;
  border-radius: 5rem;
  padding: 0.5rem;
  color: #E86C71;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.modal__content--login label {
  font-weight: 600;
}

.modal__content--register {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 10px;
  letter-spacing: 0.1rem;
}

.modal__content--register input {
  outline: none;
  background-color: #ECF0F3;
  border: none;
  border-radius: 5rem;
  padding: 0.5rem;
  color: #E86C71;
}

.modal__content--register label {
  font-weight: 600;
}

.modal__content--text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: details;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.modal__content--text::-webkit-scrollbar {
  display: none;
}

.modal__content--button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button2;
  text-align: center;
}

.modal__content--button button {
  font-size: 1rem;
  font-weight: 600;
  background: #E86C71;
  outline: none;
  border: none;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}

.modal__content--close {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: close;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #646464;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 3rem;
}

.modal__content--close:hover {
  color: #E86C71;
}

.guide_left {
  text-align: right;
  width: 50%;
}

.guide_left img {
  margin-right: 1rem;
  height: 70%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.guide_right {
  text-align: left;
  width: 50%;
}

.guide_right p {
  margin-left: 1rem;
  width: 60%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.guideBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(max-content, 1fr))[10];
      grid-template-columns: repeat(10, minmax(-webkit-max-content, 1fr));
      grid-template-columns: repeat(10, minmax(max-content, 1fr));
  background-color: #105A80;
  gap: 1rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  z-index: 1000;
}

.header__link {
  margin-inline: 2rem 1rem;
  color: #ECF0F3;
  cursor: pointer;
}

.lander {
  height: 25rem;
  background-color: #ECF0F3;
}

.lander__discription {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #105A80;
  border-radius: 0.5rem;
  width: 60%;
  padding: 5rem;
}

.subLander {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  background-color: #E86C71;
}

.subLander__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0.3rem;
  height: 50px;
  color: #ECF0F3;
  background-color: #E86C71;
}

.pcBuilder {
  padding: 1rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  gap: 2rem;
      grid-template-areas: "left right";
  -webkit-box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.1);
          box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.1);
  background-color: #105A80;
}

.pcBuilder__left {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pcBuilder__left .inside-left {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.pcBuilder__left .inside-left button {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  color: #105A80;
  width: 100%;
  border: none;
  outline: none;
  margin: 0.5rem;
  -webkit-box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.25);
          box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.25);
}

.pcBuilder__left .inside-left button:hover {
  opacity: 1;
  background-color: #E86C71;
  color: #ECF0F3;
}

.pcBuilder__left .inside-left .button-border-left {
  border-left: 10px solid #E86C71;
}

.pcBuilder__right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
}

.product_display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 15px;
  text-align: center;
  margin-bottom: 1rem;
}

.product_image {
  max-width: 100px;
  max-height: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #fff;
}

.product_container {
  background-color: #fff;
  -webkit-box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.1);
          box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: #105A80;
  font-weight: bold;
}

.product_container:hover {
  background-color: #E86C71;
  color: #ECF0F3;
  border: 1px solid #E86C71;
  -webkit-box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.25);
          box-shadow: 1.13884px 3.41652px 7.97188px rgba(0, 0, 0, 0.25);
}

.checkout {
  position: relative;
}

.prebuiltpc {
  background: url("../../img/preBuiltPc.jpg");
  background-size: cover;
}

.prebuiltpc__inner {
  background-color: #ECF0F3;
  height: 100%;
  padding: 2rem;
}

.prebuiltpc__pc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
}

.prebuiltpc__pc--pc {
  text-align: center;
  background-color: white;
  color: black;
}

.prebuiltpc--image {
  height: 7rem;
}
/*# sourceMappingURL=main.css.map */